
*{
  /* font-family: 'Whitney SSm A', 'Whitney SSm B', Arial; */
}

#navbar {
  height: 60px;
  /* border: 5px solid black; */
  /* position:; */
}
#path {
  height: 18px;
  /* border: 3px solid purple; */
}
#itemName {
  display: flex;
}
#parent {
  /* border: 5px solid purple; */
  display: flex;
  /* position:fixed; */
  /* justify-content: space-evenly; */
  
}
#filter {
  /* position: fixed; */
  /* border: 2px solid green; */
  /* position:fixed; */
  
}

#filter div {
  height: 300px;
  width: 230px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.321);
  
 
}
#product {
  /* border: 2px solid rgb(0, 68, 255); */
}
#main-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px 40px;
  width: 95%;
  /* height: 600px; */
  margin: auto;
  margin-top: 20px;
  margin-bottom: 200px;
  font-family: "Roboto", sans-serif;
  /* border: 3px dotted rgb(103, 4, 21); */
}
#price-box {
  display: flex;

  font-family: "Roboto", sans-serif;
}
#price-box p:nth-child(1) {
  /* border: 2px solid teal; */
  margin-left: 20px;
  font-size: 16px;
}
#price-box p:nth-child(2) {
  /* border: 2px solid teal; */
  margin-left: 20px;
  text-decoration: line-through;
  color: #878787;
}
#sub-box {
  /* height: 400px; */
  /* height: 50%; */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
#sub-box > img {
  width: 100%;
  /* height: 270px; */

  border-bottom: 1px solid rgba(0, 0, 0, 0.23);
}

#btn {
  height: 30px;
  width: 90%;
  margin: auto;
  display: flex;
 
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* background-color: #ff9f00; */
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.27);
  border-radius: 6px;
  cursor: pointer;
}
#btn >p{
  /* align-self: center;
   */
   /* margin-bottom: 30px; */
   /* padding-bottom: 10px; */
   border: 2px solid teal;
}
#btn:hover {
  /* background-color: #00f65e; */
  border: 1px solid black;
}
/* #btn img {
  height: 20px;
  align-self: center;
  margin-right: 10px;
} */
#name {
  margin-left: 10px;
  margin-right: 30px;
  font-size: 14px;
  line-height: 19.6px;
}
#sub-box button{
  display: none;
}
#sub-box:hover button{
  /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
  display: block;
  
}
#sub-box >#name{
  /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
  display: block;
}
#sub-box > #brand{
  /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
  display: block;
}
#sub-box:hover #name{
  /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
  display: none;
}
#sub-box:hover  #brand{
  /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
  display: none;
}
#sub-box >#size{
  display: none;
}
#sub-box:hover>#size{
  display: block;
}
#sub-box:hover>#size{
  margin-left: 20px;
}



#parent > div > div > p {
  color: red;
  margin: 6px 20px;
}

#text{
    display: flex;
    width: 75%;
    margin: auto;
    justify-content: space-between;
    color: #7e818c;
    
}
#text div:first-child{
  /* border: 2px solid teal; */
  width: 90%;
  margin: auto;
  margin-right: 10px;
  
}
#text div:nth-child(2){
  /* border: 2px solid teal; */
  /* width: 70%; */
  /* margin: auto; */
  margin-left: 10px;
  
}
td{
  /* font-size: 12px; */
  line-height:normal;
}
#bottom{
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}
#bottom div:nth-child(3) img{
      height: 50px;
      cursor: pointer;
      /* width: 90px; */
}
#bottom div:nth-child(4) div{
  display: flex;
}
#socialmedialogo img{
  /* border: 2px solid teal; */
  width: 50px;
  height: 200px;
}
#popularSearch{
  width: 80%;
  margin: auto;
  cursor: pointer;
}
#last{
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}
#last span{
  color: #526cd0;
  font-size: 17px;
  font-weight: 900;
}
#selectPage{
  /* border: 2px solid black; */
  height: 100px;
  /* margin-top: -50px; */
  /* padding-top: 50px; */
  /* margin-bottom: 100px; */
  /* padding-bottom: 150px; */
}

#itemName{
  /* border: 2px dotted rgb(6, 162, 84); */
}
#itemName p{
  /* border: 2px dotted rgb(6, 162, 84); */
  font-weight: 600;
  font-size: 18px;
}
#itemName span{
  /* border: 2px dotted rgb(6, 162, 84); */
  color: #878b94;
  /* height: 20px; */
}
#filterBar{
  display: flex;
  justify-content: space-between;
}
#filterBar div:nth-child(1){
  margin-left: 20px;
}
#filterBar div:nth-child(2){
  display: flex;
}
#filterBar div:nth-child(3){
  /* margin-left: 80px; */
  margin-right: 60px;
}
@media screen and (max-width: 1435px) {
  #main-box {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 1206px) {
  #main-box {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 976px) {
  #main-box {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 746px) {
  #main-box {
    grid-template-columns: repeat(1, 1fr);
  }
}
