#parent{
    display: grid;
    grid-template-columns: 64% 35%;
    gap: 10px;
    max-width: 980px;
    margin: auto;
    padding: 0 25px 16px;
    min-height: 320px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}
#leftBlock{
    padding-right: 20px;
    border-right: 1px solid #eaeaec;
    padding-top: 32px;
   
}
#addstrip{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-radius: 4px;
    border: 1px solid #eaeaec;
    
}
#addstrip>div{
    font-size: 14px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
#addstrip>button{
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 63, 108);
    border-color: rgb(255, 63, 108);
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
}
#offer{
    display: block;
    background: #fff;
    margin-bottom: 10px;
    padding: 16px 18px 12px;
    border: 1px solid #eaeaec;
    border-radius: 4px;
    font-size: 13px;
    position: relative;
    
}
svg+p{
    margin-top: 5px;
    font-weight: 600;
    font-size: 14px;
    margin-left: 30px;
    margin-bottom: 12px;
}
#offer>div{
    padding-left: 15px;
    text-indent: -15px;
    list-style: none;
    white-space: normal;
    margin-bottom: 8px;
}   
#offer+div{
    padding: 8px;
    margin-bottom: 12px;
    background: #fff;
    border: 1px solid #eaeaec;
    border-radius: 4px;
}
#offer+div>p{
    display: inline-block;
}
#bulkAction{
    line-height: 15px;
    display: flex;
    align-items: center;
    margin-top: 26px;
    margin-bottom: 26px;
    padding: 0 12px 0 10px;
    font-weight: 600;
    font-size: 16px;
    color: #282c3f;
}
.cartItemsList{
    display: block;
}
#rightBlock{
    vertical-align: top;
    padding: 24px 0 0 16px;
 
}
#coupons{
    display: block;
}
#coupons>div>p{
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    padding: 7px 0;
}
#coupons>div>button{
    display: inline-block;
    font-size: 12px;
    padding: 4px 16px;
    font-weight: 600;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 63, 108);
    border-color: rgb(255, 63, 108);
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
}
#priceContainer{
    margin-bottom: 16px;
}
#priceContainer>p{
    font-size: 12px;
    font-weight: 600;
    margin: 24px 0 16px;
    color: #535766;
}
#priceBreakup>div{
    margin-bottom: 12px;
    line-height: 16px;
}
.cartItemsList{
    display: grid;
    grid-template-columns: 20% 70% 5% ;
    border: 1px solid black;
    padding: 12px 12px 0;
}
.leftchild{
    height: 200px;
    width: 120px;
    border: 1px solid black;
}
.leftchild>Img{
    height: 148px;
    width: 111px;
    border: 1px solid red;
}
.rightchild{
    position: relative;
    padding-left: 12px;
    height: 150px;
    align-items: center;
    font-size: 14px;
    border: 1px solid crimson;

}
.rightchild>div{
    margin: 7px;
}
.rightchild>div:nth-child(1){
    font-size: 17px;
    font-weight: 600;
}
.rightchild p{
    margin-top: -5px;
    margin-left: 7px;
    padding: 0;
    
}
.rightchild>div:nth-child(4){
    display: flex;
    margin-left: 0;

    
}
.rightchild>div:nth-child(4)>p{
    margin-top: 5px;
}
.rightchild>div:last-child{
    margin-top: -10px;
}
.rightchild button{
    border: none;
    height: 20px;
    width: 75px;
    font-weight: 600;
    margin-right: 12px;
    background: #f5f5f6;
    color: #282c3f;
    
}
.crossdiv{
    height: 25px;
    width: 25px;
    cursor: pointer;
}
.crossdiv>img{
    position: relative;
    top: 2px;
    right: 2px;
    height: 20px;
    width: 20px;
}

.popupdiv{
    width: 306px;
    padding: 0 16px;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    box-shadow: 0 0 8px rgb(0 0 0 / 10%);
    border: 1px solid #d4d5d9;
    position: relative;
    overflow: hidden;
    margin: auto;
    border-radius: 4px;
    visibility: hidden;
}
